apiVersion: apps/v1
kind: Deployment
metadata:
  name: youtube-dl
  namespace: apps
  labels:
    app: youtube-dl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: youtube-dl
  template:
    metadata:
      labels:
        app: youtube-dl
    spec:
      containers:
        - name: vpn
          image: qmcgaw/gluetun:latest
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          env:
            - name: VPN_SERVICE_PROVIDER
              value: "nordvpn"
            - name: VPN_TYPE
              value: "openvpn"
            - name: OPENVPN_PROTOCOL
              value: "tcp" # On reste en TCP car ça a fonctionné
            - name: OPENVPN_USER
              valueFrom:
                secretKeyRef:
                  name: nordvpn-auth
                  key: username
            - name: OPENVPN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nordvpn-auth
                  key: password
            - name: SERVER_COUNTRIES
              value: "France"
    
        - name: youtube-dl
          image: spadmdck/youtube-dl:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
          volumeMounts:
            - name: cookies-volume
              mountPath: /etc/youtube-dl/
              readOnly: true
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "128Mi"
              cpu: "200m"
            limits:
              memory: "256Mi"
              cpu: "1000m"
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
      volumes:
        - name: cookies-volume
          secret:
            secretName: youtube-cookies